     *{
        padding: 10px;
        background-size: cover;
    }
    body {
      font-family: 'Times New Roman', Times, serif;
      background-color: rgb(235, 229, 162);
      font-size: 20px;
    }
    
    .feed{
        padding: 50px;
        background-image: url('b3.jpg');
        background-size: cover;
    }
    h3{
        color: #bcb7b7;
        text-align: center;
        padding: 10px;
        text-transform: none;
    }
    input{
        background-color: white;
        width: 30%;
        margin: 10px;
        padding: 8px;
    }
    textarea{
        background-color: white;
        width: 30%;
        margin: 10px;
        padding: 8px;  
    }
    button{
        width: 30%;
        margin: 10px;
        padding: 8px;
        background-color: rgb(228, 235, 124);
        border: 2px solid rgb(226, 214, 214);  
        color: rgb(41, 11, 11);
        font-weight: bold;
        border-radius: 10px; 
    }
    
    form{
      text-align: center;
      margin: 20px;
      padding: 20px;
      box-shadow: 4px 4px 16px black;
    }