p {
    font-size: large;
    color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
    <h2> This is a new index file. </h2>
}
h2 {
    color: beige;
    font-style: italic;

}